/*  link the style.css file to the index.html file */

body {
    margin: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
    background-color: #789ddd;
}

.content {
    max-width: 800px;
    margin: auto;
    /* background-color: #ffffff2d; */
}

.header {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    /* font-size: 2.6vh; */
}

a {
    /* color: #3c6af2; */
    color: #034cb8;
}

.footer {
    background: #e1e1e1;
    text-align: center;
    font-size: 18px;
    margin-top: 4em;
    padding: 4em 0;
}

figure {
    margin: 0;
    padding-bottom: 1.2em;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5em;
    color: #666;
}

h1 {
    font-family: 'Lora', Georgia, serif;
    font-weight: bold;
    font-size: 6.5vh;
    line-height: 1.5;
    text-shadow: #ffffff7e 2px 2px 3px;

}

.deck, .section {
    font-family: 'Lora', Georgia, serif;
    margin: 0;
    font-size: 1.5em;
}

.section{
    margin-top: 2vh;
    font-weight: 650;
}

iframe, img {
    max-width: 100%;
    /* background-color:  #91afe3; */
    padding: 2em;
    margin-bottom: 1em;
}

p {
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1.2em;
}

ol {
    margin: 0;
    padding-bottom: 1em;
    line-height: 1.6;
}

iframe {
    padding: .5em;
    /* background-color: rgb(255, 255, 255); */
    /* color: white; */
    background-color:  #ffffff;
    border-radius: 5px;

}

code {
    font-family: 'Courier New', monospace;
    background: #fff880;
}

/* margin on mobile */
@media (max-width: 640px) {
    body {
        font-size: 18px;
    }
    .content {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
#datawrapper-chart-AlLHT{
    max-height: 60vh;
}

.map{
    max-height: 60vh;
}

.byline{
    font-size: 1em;
    color: #666;
    margin: 0;
    padding: 0;
}
.chat-container {
    margin-bottom: 40px;
    margin-top: 40px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.strikethrough {
    text-decoration: line-through 1.5px red;
  }
.chat-bubble-incoming {
position: relative;
margin-bottom: 20px;
padding: 10px 15px;
background-color: #ffffff;
border-radius: 20px;
display: block;
max-width: 70%;
clear: both;
float:left;
}
.chat-bubble-outgoing {
position: relative;
margin-bottom: 20px;
padding: 10px 15px;
background-color: #00b900;
border-radius: 20px;
display: block;
max-width: 70%; 
float: right;
clear: both;
}
.timestamp,.read {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    }

.timestamp-outgoing {
bottom: 5px;
left: -60px;
}

.read-outgoing {
bottom: 23px;
left: -40px;
}
.timestamp-incoming {
bottom: 5px;
right: -60px;
}

.read-incoming {
bottom: 23px;
right: -40px;
}
